<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android_gaode_maps">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="im.actor.pickLocation_${applicationId}"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/CommonActivityTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="im.actor.locationPreview_${applicationId}"/>
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:name="im.actor.map.MapActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|orientation|screenSize" -->
        <!-- android:theme="@style/CommonActivityTheme" -->
        <!-- android:windowSoftInputMode="adjustResize"> -->
        <!-- <intent-filter> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <action android:name="im.actor.locationPreview_${applicationId}" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <service android:name="com.amap.api.location.APSService"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c9bb6ed25a8f1ba46bf0daffb4571e7a">
        </meta-data>
    </application>

</manifest>